.book-detail {
    display: flex;
    margin: 20px 40px;
    border-radius: 6px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background: #16caf0;
}

.book-detail .book-detail-left-side {
    flex: 1;
}

.book-detail .book-detail-left-side img {
    width: 100%;
    border-radius: 5px;
}

.book-detail .book-detail-right-side {
    flex: 3;
}


/* responsive for mobile*/

@media only screen and (max-width: 576px) {
    .book-detail {
        flex-direction: column;
        margin: 10px 20px;
    }
}