.product-table-container {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    font-family: "Times New Roman", Times, serif;
}

.product-table-container .delete-btn {
    background-color: rgb(255, 50, 50);
}

.product-table-container .delete-btn:hover {
    background-color: rgb(253, 120, 120);
}