.product-table-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
}

.product-table-container table thead {
    background-color: aqua;
}

.delete-btn {
    background-color: rgb(255, 50, 50);
}

.delete-btn:hover {
    background-color: rgb(253, 120, 120);
}

@media only screen and (max-width: 576px) {
    .product-table-container {
        padding: 20px 8px;
    }
}