.contact-container {
    background: url("../../images/contact-bg.png");
    padding: 60px 30px;
}

.contact-container .contact-form {
    background: #e8edf0;
    font-family: "Times New Roman", Times, serif;
}

.contact-container .contact-form input {
    border: 0;
    padding: 10px 5px;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
}

.contact-container .contact-address {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contact-container a {
    color: #0086df;
}