.add-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #066175fb;
}

.add-form-container .add-field {
    width: 70%;
    margin: 5px auto;
    padding: 10px 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(207, 207, 207);
}


/* ----add btn--- */

.add-form-container .item-add-btn {
    border: 0;
    padding: 10px;
    width: 25%;
    margin: 10px auto;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    background-color: #068aa5;
}

.add-form-container .item-add-btn:hover {
    background-color: #3f98aa;
}

.add-form-container #email {
    background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 576px) {
    .add-form-container .add-field {
        width: 96%;
    }
    .add-form-container .item-add-btn {
        width: 50%;
    }
}