/* .inventory-main-items {
    background-image: linear-gradient( to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-position: left;
} */

.inventory-main-items h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    color: #0dcaf0;
    font-size: 50px;
    padding: 60px 0px 30px;
    line-height: 1px;
}

.inventory-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    border-radius: 10px;
    margin: 50px auto;
}


/* ========== mobile responsive ===== */

@media only screen and (max-width: 576px) {
    .inventory-items-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .inventory-main-items h1 {
        font-size: 30px;
    }
}


/* ========== tablet responsive ===== */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .inventory-items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}