.App {
    text-align: center;
}

:root {
    --primary-color: #fdfcfa;
    --secondary-color: #f86d72;
    --blue: #1e90ff;
    --white: #ffffff;
    --white-grey: #f6f6f6;
    --dark: #0000;
    --grey: rgb(160, 160, 160);
    --grey-simple: #efefef;
}