@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap");
.App {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #fdfcfa;
    --secondary-color: #f86d72;
    --blue: #1e90ff;
    --white: #ffffff;
    --white-grey: #f6f6f6;
    --dark: #0000;
    --grey: rgb(46, 43, 43);
    --grey-simple: #efefef;
}